TELEGRAM_BOT_TOKEN=isi_token_dari_botfather
DATABASE_URL=postgresql://postgres:PASSWORD_ANDA@db.xxxxxxxx.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.xxxx.supabase.co:5432/postgres