TELEGRAM_BOT_TOKEN=isi_token_dari_botfather
DATABASE_URL=postgresql://postgres:PASSWORD_ANDA@db.xxxxxxxx.supabase.co:5432/postgres
GEMINI_API_KEY=isi_api_key_gemini
USDA_API_KEY=isi_api_key_usda
FATSECRET_CLIENT_ID=isi_client_id_fatsecret
FATSECRET_CLIENT_SECRET=isi_client_secret_fatsecret
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.xxxx.supabase.co:5432/postgres
FATSECRET_CLIENT_ID=isi_client_id
FATSECRET_CLIENT_SECRET=isi_client_secret